<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home">Quick Start: {{title}}</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLinkActive="nav-active" routerLink="/home">Home</a></li>
                <li><a routerLinkActive="nav-active" routerLink="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>